@background: #212121;
@background2: #2a2a2a;
@primary: #FF8F00;


.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus,
.btn-default:active:focus
{
  background-color: @primary;
  border-color: @primary
;
}

.progress {
  background-color: @background2 !important;
  -webkit-box-shadow: @background2!important;
  box-shadow:@background2!important;
  color: @primary!important;
}

.progress-bar {
  color: @background!important;
}

.border {
  margin: 0px;
  border-width: 1px;
  border-color: @background2!important;
}

.border-2 {
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  border-style: solid!important;
  border-width: 1px!important;
  border-color: @primary!important;
}

h1, div {
  color: @primary;
  font-family: "Century Gothic";
}

.background{
  background-color: @background;
;
}